<p>
  <mat-toolbar color="primary">

    <button class="icon-button" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <img class="icon" src="../assets/images/pokeBall.png" />
    </button>
    <span>Pokedex</span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="getGeneration(1)">Generation 1</button>
      <button mat-menu-item (click)="getGeneration(2)">Generation 2</button>
      <button mat-menu-item (click)="getGeneration(3)">Generation 3</button>
      <button mat-menu-item (click)="getGeneration(4)">Generation 4</button>
      <button mat-menu-item (click)="getGeneration(5)">Generation 5</button>
      <button mat-menu-item (click)="getGeneration(6)">Generation 6</button>
      <button mat-menu-item (click)="getGeneration(7)">Generation 7</button>
      <button mat-menu-item (click)="getGeneration(8)">Generation 8</button>
    </mat-menu>
  </mat-toolbar>
</p>