<h1 mat-dialog-title>Type Stats: {{displayTypes()}}</h1>
<div mat-dialog-content>

    Super effective against: "" (double damage)
    <br>
    Not very effective against: "" (half damage)
    <br>
    Completely ineffective against: "" (no damage)

    <br>
    <br>
    <br>

    Super vulnerable against: "" (double damage)
    <br>
    Not very vulnerable against: "" (half damage)
    <br>
    Completly immune against: "" (no damage)



</div>
<div mat-dialog-actions><button mat-button mat-dialog-close>Close</button></div>